<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>vue-boolzapp</title>

        <!-- favicon -->
        <!-- <link rel="shortcut icon" href=".ico"> -->

        <!-- font: Cantarell, 400/700 -->
        <link href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap" rel="stylesheet">

        <!-- icone - fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <!-- responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS link -->
        <link rel="stylesheet" href="assets/style.css">

        <!-- CDN VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script><!-- DEV VERSION -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> --><!-- DIST VERSION -->
    </head>

    <body>

        <div id="root">
            <div class="app-container">
                <!-- START LEFT CONTAINER with user and user-list-of-contacts -->
                <aside class="contacts-wrapper">
                    <!-- START TOP WRAPPER with user info -->
                    <nav class="app-header contacts-nav">
                        <!-- USER IMG SX -->
                        <div class="user-img">
                            <img :src="'img/' + user.avatar" :alt="user.name">
                        </div>

                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </nav><!-- END contacts-nav -->

                    <!-- START CX WRAPPER with notification -->
                    <div class="notification">
                        <!-- START CONTACT IMG SX -->
                        <div class="icons">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="contact-info">
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <span>
                                Attiva notifiche desktop
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </div>
                    </div><!-- END notifications -->

                    <!-- START BTM WRAPPER with contacs -->
                    <div class="contacts">
                        <!-- START TOP search bar -->
                        <div class="search-bar input-bar">
                            <div class="icons">
                                <i class="fas fa-search"></i>
                            </div>
                            <input type="search" name="" value=""
                            v-model="searContact"
                            placeholder="Cerca o inizia una nuova chat"
                            @keyup="changeVisibility">
                        </div><!-- END search bar -->

                        <!-- LIST OF CONTACTS -->
                        <ul class="contacts-list">
                            <!-- SINGLE CONTACT-CARD -->
                            <li class="contact-card"
                            v-for="(contact, index) in filteredContacts"
                            :class="{ 'current-contact': isCurrent(index) }"
                            @click="changeContact(index)">
                                <!-- START CONTACT IMG SX -->
                                <div class="user-img">
                                    <img :src="'img/' + contact.avatar" :alt="contact.name">
                                </div>
                                <div class="contact-info">
                                    <h2>{{ contact.name }}</h2>
                                    <span>Messaggio</span>
                                    <span class="time">14:15</span>
                                </div>
                            </li><!-- END SINGLE CONTACT-CARD -->
                        </ul>
                    </div><!-- END contacts -->

                </aside><!-- END .contacts-wrapper -->

                <!-- START RIGHT CONTAINER with messages user to 1contact -->
                <main class="messages-wrapper">
                    <!-- START TOP  -->
                    <nav class="app-header messages-nav">
                        <!-- LEFT DIV name and img of current contact -->
                        <div class="current-contact">
                            <div class="user-img">
                                <img :src="'img/' + userContacts[contactIndex].avatar" :alt="userContacts[contactIndex].name">
                            </div>

                            <div class="current-contact-name">
                                <h2>{{ userContacts[contactIndex].name }}</h2>
                            </div>
                        </div><!-- END current contact -->

                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </nav><!-- END message-nav -->

                    <div class="messages-container">

                        <!-- LIST OF MESSAGES -->
                        <ul class="messages-list">
                            <!-- SINGLE MESSAGE-CARD -->
                            <li class="message-card" :class="message.status"
                            v-for="message in userContacts[contactIndex].messages">
                                <span class="message-text">
                                    {{ message.message }}
                                </span>
                                <span class="time">14:15</span>
                            </li><!-- END SINGLE MESSAGE-CARD -->
                        </ul>
                    </div>

                    <!-- START BTM message-bar -->
                    <div class="messages-bar input-bar">
                        <!-- LEFT emoji and attachment -->
                        <div class="icons">
                            <i class="far fa-grin-alt"></i>
                            <i class="fas fa-paperclip"></i>
                        </div><!-- END LEFT icons -->

                        <input type="text" name="" value=""
                        v-model="newMessage"
                        placeholder="Scrivi un messaggio"
                        @keyup.enter="sendMessage">

                        <!-- RIGHT enter -->
                        <div class="icons toggle">
                            <i class="fas"
                            :class="{ 'fa-microphone': isNewMessageEmpty(),
                                'fa-paper-plane': !isNewMessageEmpty()
                             }"
                            @click="sendMessage"></i>

                        </div><!-- END RIGHT icons -->
                    </div><!-- END message-bar -->

                </main><!-- END .message-wrapper -->
            </div><!-- END .app-container -->
        </div><!-- END #root -->


        <!-- javascript -->
        <script type="text/javascript" src="assets/main.js"></script>
    </body>
</html>
