
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cantarell', sans-serif;
}

ul {
    list-style-type: none;
}

/*
h1 undefined
h2 contacts-name
h3 notification
*/

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */

/* <1-fold SSSSS ALL DOC CLASSES SSSSS */
.app-header {
    height: 60px;
    background-color: #EDEDED;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.user-img {
    width: 75px;
    height: 100%;
    float: left;
    display: flex;
}

.user-img img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
    cursor: pointer;
}

.icons {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}
.icons i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i:hover {
    background-color: #D5D5D5;
}

/* #2-fold SSSSS .INPUT-BAR SSSSS */
.input-bar {
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-bar .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-bar input {
    font-size: 16px;
    height: 42px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 0 20px;
}
.input-bar input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
/* #/2-fold> EEEEE .INPUT-BAR EEEEE */

/* #2-fold SSSSS .CONTACT-CARD SSSSS */
.contact-card {
    height: 73px;
    cursor: pointer;
    display: none;
}
.contact-card.visible {
    display: block;
}
.contact-card:hover {
    background-color: rgb(242, 242, 242);
}

.contact-card .contact-info {
    width: calc(100% - 75px);
    height: 100%;
    position: relative;
    border-top: 1px solid rgb(242, 242, 242);
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-card:first-child .contact-info { /* No border-top */
    border-top: 0px solid rgb(242, 242, 242);
}

h2 { /* Contact-name */
    font-size: 17px;
    font-weight: 400;
}

.contact-card .contact-info span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.contact-card .contact-info .time {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* #/2-fold> EEEEE .CONTACT-CARD EEEEE */

/* #2-fold SSSSS .MESSAGE-CARD SSSSS */
.message-card {
    display: inline-block;
    max-width: 70%;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    padding: 6px 7px 8px 9px;
    position: relative;
}
.message-card.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.message-card .message-text {
    font-size: 14px;
    color: #303030;
    margin-right: 20px;
}

.message-card .time {
    font-size: 11px;
    color: #00000073;
}

.message-card .msg-info {
    display: none;
    position: absolute;
    width: 30px; height: 37px;
    top: 0; right: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.message-card:hover .msg-info {
    display: flex;
    backdrop-filter: blur(3px);
    color: rgba(0, 0, 0, 0.2);
}
.message-card .dropdown-msg-info {
    position: absolute;
    bottom: calc(100% - 10px); left: 8px;
    border-radius: 3px;
    background-color: white;
    color: #4a4a4a;
    padding: 9px 0;
    white-space: nowrap;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.message-card.sent .dropdown-msg-info {
    left: unset; right: 8px;
}
.message-card .dropdown-msg-info li {
    font-size: 15.5px;
    width: 100%;
    padding: 10px 20px 10px 15px;
}
.message-card .dropdown-msg-info li:hover {
    background-color: rgb(242, 242, 242);
}

/* #/2-fold> EEEEE .MESSAGE-CARD EEEEE */


/* </1-fold> EEEEE ALL DOC CLASSES EEEEE */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
#root {
    height: 100vh;
    background: linear-gradient(to bottom, #00BFA5 35%, #D6DBD9 0%, #D6DBD9);
    display: flex;
}

/* <1-fold SSSSS .app-container SSSSS */
.app-container {
    width: 90%;
    max-width: 1000px;
    height: 90%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
    margin: auto;
}

/* #2-fold SSSSS .contacts-wrapper SSSSS */
.contacts-wrapper {
    width: 35%;
    height: 100%;
    float: left;
}

.contacts-nav {
    border-top-left-radius: 5px;
}

.contacts-nav .icons {
    height: 100%;
    float: right;
}

.notification {
    height: 90px;
    background-color: #9DE1FE;
    color: #303030F5;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 13px;
}
.notification:hover span {
    text-decoration: underline;
}
.notification .icons i {
    width: 50px;
    height: 50px;
    color: #9DE1FE;
    background-color: white;
}
h3 {
    font-size: 15px;
    font-weight: 400;
}
.notification .contact-info span {
    font-size: 14px;
}

.contacts {
    height: calc(100% - 150px); /* contacts-nav 60px, notification 90px */
}
.current-contact {
    background-color: #EBEBEB;
}

.search-bar {
    height: 50px;
    justify-content: center;
}
.search-bar .icons {
    font-size: 12px;
    height: 34px;
    background-color: white;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.search-bar .icons i:hover {
    background-color: unset;
}
.search-bar input {
    width: 80%;
    font-size: 14px;
    height: 34px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.contacts-list {
    height: calc(100% - 50px); /* search-bar 50px */
    overflow-y: auto;
}
/* CONTACT CARD --> see all doc classes */

/* #/2-fold EEEEE .contacts-wrapper EEEEE */

/* #2-fold SSSSS .messages-wrapper SSSSS */
.messages-wrapper {
    width: 65%;
    height: 100%;
    float: left;
}

.messages-nav {
    border-top-right-radius: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}
.messages-nav .current-contact {
    height: 100%;
    display: flex;
    float: left;
}
.messages-nav .current-contact-name {
    display: flex;
    align-items: center;
}
.messages-nav .icons {
    height: 100%;
    float: right;
}

.messages-container {
    height: calc(100% - 120px); /* messages-nav 60px, messages-bar 60px */
    background-color: #1a222a;
    background-image: url(https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.messages-list {
    min-height: 100%;
    flex: 1 0 auto;
    backdrop-filter: invert(85%);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


.messages-bar {
    height: 60px;
}
.messages-bar .icons {
    width: 20%;
}
.messages-bar .icons.toggle {
    width: 10%;
}
.messages-bar input {
    width: 70%;
}

/* #/2-fold EEEEE .messages-wrapper EEEEE */

/* </1-fold> EEEEE .app-container EEEEE */
