
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cantarell', sans-serif;
}

ul {
    list-style-type: none;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */

/* <1-fold SSSSS ALL DOC CLASSES SSSSS */
.app-header {
    height: 60px;
    background-color: #EDEDED;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

/* #2-fold SSSSS .CONTACT-CARD SSSSS */
.contact-card {
    height: 73px;
    cursor: pointer;
}
.contact-card:hover {
    background-color: rgb(242, 242, 242);
}

.contact-img {
    width: 75px;
    height: 100%;
    float: left;
    display: flex;
}

.contact-img img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.contact-info {
    width: calc(100% - 75px);
    height: 100%;
    position: relative;
    border-top: 1px solid rgb(242, 242, 242);
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-card:first-child .contact-info { /* No border-top */
    border-top: 0px solid rgb(242, 242, 242);
}

h2 { /* Contact-name */
    font-size: 17px;
    font-weight: 400;
}

.contact-info span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.contact-info .time {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* #/2-fold> EEEEE .CONTACT-CARD EEEEE */

/* </1-fold> EEEEE ALL DOC CLASSES EEEEE */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
#root {
    height: 100vh;
    background: linear-gradient(to bottom, #00BFA5 35%, #D6DBD9 0%, #D6DBD9);
    display: flex;
}

/* <1-fold SSSSS .app-container SSSSS */
.app-container {
    width: 90%;
    max-width: 800px;
    height: 90%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
    margin: auto;
}

/* #2-fold SSSSS .contacts-wrapper SSSSS */
.contacts-wrapper {
    width: 30%;
    height: 100%;
    float: left;
}

.contacts-nav {
    border-top-left-radius: 5px;
}

.notification {
    height: 90px;
    background-color: #9DE1FE;
}

.contacts {
    height: calc(100% - 150px); /* contacts-nav 60px, notification 90px */
}
.search-bar {
    height: 50px;
}
.search-bar input {
    width: 100%;
}

.contacts-list {
    height: calc(100% - 50px); /* search-bar 50px */
    overflow-y: auto;
}
/* CONTACT CARD --> see all doc classes */

/* #/2-fold EEEEE .contacts-wrapper EEEEE */

/* #2-fold SSSSS .messages-wrapper SSSSS */
.messages-wrapper {
    width: 70%;
    height: 100%;
    float: left;
}

.messages-nav {
    border-top-right-radius: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.messages-container {
    height: calc(100% - 120px); /* messages-nav 60px, messages-bar 60px */
    background-color: rgb(229, 221, 213);
    position: relative;
}
.messages-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png);
    filter: opacity(20%);
}

.messages-bar {
    height: 60px;
}

/* #/2-fold EEEEE .messages-wrapper EEEEE */

/* </1-fold> EEEEE .app-container EEEEE */
