
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */

/* <1-fold SSSSS ALL DOC CLASSES SSSSS */

/* #2-fold SSSSS SYMBOLS SSSSS */

/* #/2-fold> EEEEE SYMBOLS EEEEE */

/* #2-fold SSSSS LINKS SSSSS */

/* #/2-fold> EEEEE LINKS EEEEE */

/* #2-fold SSSSS QUOTE SSSSS */

/* #/2-fold> EEEEE QUOTE EEEEE */

/* #2-fold SSSSS BTNS SSSSS */

/* #/2-fold> EEEEE BTNS EEEEE */

/* </1-fold> EEEEE ALL DOC CLASSES EEEEE */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
/* <1-fold SSSSS #ROOT SSSSS */
#root {
    height: 100vh;
    background: linear-gradient(to bottom, #00BFA5 35%, #D6DBD9 0%, #D6DBD9);
    display: flex;
}

/* #2-fold SSSSS .message-container SSSSS */
.message-container {
    width: 90%;
    max-width: 800px;
    height: 90%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
    margin: auto;
}

/* #/2-fold EEEEE .message-container EEEEE */

/* </1-fold> EEEEE #ROOT EEEEE */
